{% extends "gallery/base.html" %}
{% load static %}

{% block title %}Pictures{% endblock %}
{% block content %}
    <h1>Some Pictures</h1>
    <form id="filter_form">
        My <input type="checkbox" name="user">
        Commented <input type="checkbox" name="commented">
        <input id="apply_filter" type="button" value="Filter">
    </form>
{% if request.user.is_authenticated %}
    <form action="{% url 'gallery:pics_list'%}" method="post" enctype="multipart/form-data" id="upload_form">
        {% csrf_token %}
        <input type="text" id="file_title" name="title" value="title">
        <input type="file" id="image_path" name="image_path">
        <input class="upload_btn" type="button" value="Upload">
    </form>    
{%endif%}
<div id="picturesContainer"></div>

{% endblock %}

{% block srv %}

    <script>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static '/js/gallery.js' %}"></script>
        
{% endblock %}
