{% extends "gallery/base.html" %}
{% load static %}

{% block title %}Pictures{% endblock %}
{% block content %}
    <h1>Some Pictures</h1>
<form id="filter_form">
    My <input type="checkbox" name="user">
    Commented <input type="checkbox" name="commented">
    <input id="apply_filter" type="button" value="Filter">
</form>

<div id="picturesContainer"></div>

{% endblock %}

{% block srv %}

    <script>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static '/js/gallery.js' %}"></script>
        
{% endblock %}
